.home-container {
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.view-contents {

}

.title-text {
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
}

.intro-text {
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  margin-right: 40px;
  font-family: 'Crimson Text', serif;
}

.list-title {
  font-weight: 800;
}

.list-title ul {
  margin-left: 40px;
  padding-left: 0;
}

.warmline {
  // font-size: 20px;
  font-weight: 600;
}

.home-photo {
  height: 300px;
}
//
// @media only screen and (max-device-width: 768px) {
//   .title-text {
//     font-size: 4rem;
//     text-align: left;
//   }
//   .wic-provides {
//     font-size: 3rem;
//     text-align: left;
//   }
//   .warmline {
//     display: none;
//   }
// }
