.home-container {
  text-align: center;
}

.title-text {
  font-weight: 800;
  font-size: 30px;
}

.description {
  font-size: 20px;
}

.wic-provides {
  font-size: 20px;
  line-height: 150%;
}

.list-title {
  font-weight: 800;
}

.warmline {
  font-weight: 800;
  font-size: 30px;
}

@media only screen and (max-device-width: 768px) {
  .title-text {
    font-size: 4rem;
    text-align: left;
  }
  .wic-provides {
    font-size: 3rem;
    text-align: left;
  }
  .warmline {
    display: none;
  }
}
