.test {
  display: flex;
  justify-content: center;
}

.home-container {
  // text-align: center;
  height: 500px;
  width: 500px;
  margin: 0;
}

.title-text {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.description {
  font-size: 20px;
  // margin-left: 15%;
  // margin-right: 15%;
  // text-align: justify;
}

.wic-provides {
  font-size: 20px;
  line-height: 150%;
  // margin-left: 15%;
  // margin-right: 15%;
  // text-align: justify;
}

.list-title {
  font-weight: 800;
}

.warmline {
  font-weight: 800;
  font-size: 15px;
  // text-align:
}

// @media only screen and (max-device-width: 768px) {
//   .title-text {
//     font-size: 4rem;
//     text-align: left;
//   }
//   .wic-provides {
//     font-size: 3rem;
//     text-align: left;
//   }
//   .warmline {
//     display: none;
//   }
// }
