/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 13px Helvetica, Arial; }

.chat-view {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%; }

.messaging-container {
  background: #000;
  padding: 3px;
  width: 100%; }

.chat-input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%; }

.sendbtn {
  width: 9%;
  background: #82e0ff;
  border: none;
  padding: 10px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#messages li {
  padding: 5px 10px; }

#messages li:nth-child(odd) {
  background: #eee; }

.chat-desc {
  font-size: 20px; }

.client-chat-btn {
  padding: 10px;
  display: block;
  margin: 2rem auto;
  font-size: 20px;
  cursor: pointer; }

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #FCFCFC;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  text-align: center; }

.modal-instr {
  padding: 10px; }

/* The Close Button */
.close {
  color: #FCFCFC;
  font-size: 28px; }

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer; }

.home-container {
  text-align: center;
  display: flex;
  justify-content: space-around; }

.title-text {
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  text-align: left; }

.intro-text {
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  margin-right: 40px;
  font-family: 'Crimson Text', serif; }

.list-title {
  font-weight: 800; }

.list-title ul {
  margin-left: 40px;
  padding-left: 0; }

.warmline {
  font-weight: 600; }

.home-photo {
  height: 300px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.nav-dir {
  height: 15vh;
  background-color: black;
  /* z-index: 10; */
  display: block;
  /* top: 0; */ }

/*.hamburger-menu {
  display: none;
}*/
.logo {
  height: 7vh;
  cursor: pointer; }

.welcome {
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/ }

html {
  background-color: #dad5c5; }

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.views {
  width: 80vw;
  height: 100vh;
  background-color: #FEFEFA;
  padding: 40px;
  color: #5c5c5c;
  font-family: 'Karla', sans-serif; }

/*DROP DOWN MENUS*/
.dropbtn {
  /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;*/
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Links inside the dropdown */
.dd-menu-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content .dd-menu-item:hover {
  background-color: #f1f1f1; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

/*MOBILE RESPONSIVE*/

.tips-list {
  width: 100%;
  height: 100%; }

.tip {
  height: 10%;
  background-color: lightgrey;
  padding: 1rem;
  border: 1px solid black;
  margin: 5px; }

.tip:hover {
  background-color: grey; }

.tip-text {
  font-size: 1.5rem;
  margin-bottom: 5px; }
