
<main class="home-container">


  <div class="title-text">
    <p>Utah County WIC helps mothers with breastfeeding.</p><br>

    <p>We want to help you with your breastfeeding goals.</p><br>
  </div>

  <div class="description">
    <p>The American Academy of Pediatrics recommends breastfeeding for a year or more to provide the benefits your baby needs.</p>
    <br>
  </div>

  <div class="wic-provides">
    <p class="list-title">To help you with this goal, Utah County WIC provides:</p>
    <ul>
      <li>Breastfeeding help by phone</li>
      <li>In person one-on-one breastfeeding help</li>
      <li>Breastfeeding classes to pregnant mothers</li>
      <li>Free hand breast pumps</li>
      <li>Free use of electric pumps, to those who qualify</li>
      <li>Other breastfeeding aids, as available</li>
    </ul><br>
  </div>


  <div class="warmline">
    <p>Breastfeeding Warmline: 801-331-5988</p><br>
  </div>


</main>
