<h2>Helpful Links</h2>

<div class="links">
  <h3>Breastfeeding</h3>
  <ul>
    <li><a href="http://www.utahcountyonline.org/dept/healthwic2/site/women/index.html?page=breastfeeding__lm_benefits__faqs#207HowLongBF">Breastfeeding FAQs</a></li>
    <li><a href="http://kellymom.com/">Kelly Mom</a></li>
    <li><a href="http://www.utahcountyonline.org/dept/healthwic2/site/index.html">WIC home page</a></li>
    <li><a href="http://www.lalecheleague.org/">La Leche League</a></li>
    <li><a href="https://intermountainhealthcare.org/locations/orem-community-hospital/medical-services/womens-health/lactation-support/">Intermountain Health Care Lactation Consultants</a></li>
    <li><a href="http://www.askdrsears.com/topics/feeding-eating/breastfeeding">Dr. Sears</a></li>
  </ul>

  <h3>Pregnancy</h3>
  <ul>
    <li><a href="http://health.utah.gov/prl/">Pregnancy Risk Line</a></li>
    <li><a href="http://www.utahcountyonline.org/dept/healthwic2/site/women/index.html?page=pregnancy__about">Pregnancy FAQs</a></li>
  </ul>

</div>
