<nav class='header'>

</nav>

<section class='login'>
  Username: <input type="" name="name" value=""><br>
  Password: <input type="" name="name" value="">
</section>


<div class="3rd-party-login">
  <a href="/auth/facebook">login w/ google or facebook</a>
</div>

<div class="register">
  New user? <span ui-sref='register'>Click here</span> to register.
</div>


<div class="">
  First Name: <input type="text" name="name" value=""><br>
  Last Name: <input type="text" name="name" value=""><br>
  DOB: <input type="text" name="name" value=""><br>
  Address: <input type="text" name="name" value="">


</div>
